
{% extends "base.html" %}
{% block content %}
<div>
	<a href="{% url 'subdivision_create' %}" class="btn btn-primary p-1 mt-1 mb-1">+ новая</a>

	<div class="list-group">
		{% for subdivision in subdivision_list %}
		<a href="{% url 'subdivision_detail' subdivision.id  %}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1">{{subdivision.title}}</h5>
					<small>{{subdivision.created_date}}</small>
				</div>
				<small>{{subdivision.description}}</small>
			</a>
			{% empty %}
			<h5>У вас нет рабочих групп.</h5>
			{% endfor %}
		</div>	
	</div>


	{% endblock %}
