
{% extends "userbase.html" %}

{% block content %}
    <div class="row">
      <div id="map" class="col-md-6 col-sm-8 col-xs-12 smallmap" style="height:400px"></div>
      <div id="image" class="col-md-6 col-sm-8 col-xs-12" style="height:400px"></div>
    </div>
    <div class="row" style="margin-top:8px">
      <div class="col-sm-12">
        <table id="tracks" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Id</th>
              <th>Lat</th>
              <th>Lon</th>
              <th>Alt</th>
              <th>Timestamp</th>
              <th>Thumbnail</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
{% endblock %}


{% block extrajavascript %}
<script>
      $(document).ready(function() {
          var table = $('#tracks').DataTable({
              "select": true,
              "searching": false,
              "scrollY":        "400px",
              "scrollCollapse": true,
              "paging":         false,
              "ajax": {
                "processing": true,
                "url": "/gp_projects/imagenotes/?format=datatables",
                "dataSrc": "data"
                },
              "columns": [
                  {"data": "id"},
                  {"data": "lat"},
                  {"data": "lon"},
                  {"data": "altitude"},
                  {"data": "timestamp"},
                  {"data": "thumbnail",
                      "render": function(data, type, row) {
                      return '<img class="img-fluid" style="height:40px"  src="'+data+'" />';
                  }},
                  {"data": "image", "visible": false},
              ]
          });

      table.on( 'select', function ( e, dt, type, indexes ) {
          if ( type === 'row' ) {
              var img = table.rows( indexes ).data().pluck( 'image' );
              $('#image').html('<img class="img-fluid"  style="width=100%; max-height:400px" src=' +  img[0] + ' >');
              var lati = table.rows( indexes ).data().pluck( 'lat' );
              var long = table.rows( indexes ).data().pluck( 'lon' );
              circle.setLatLng([lati[0], long[0]]);
              map.setView([lati[0], long[0]]);
          }
      } );



          /* create the map  */
          map = L.map('map').setView([lat, lon], zoom)
          osmTiles.addTo(map);
          circle.addTo(map);
      });



 </script>
{% endblock extrajavascript %}

